@media  screen and(min-width: 320px){
body{font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url(https://src.img.photos/2019/04/04/Pdokc.jpg);
    background-position: center;
    background-size: cover;
    
    height: 100%;
    max-width: 100%;
    margin:0 auto;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: flex-start;
    background-color: rgb(187, 125, 189);
    height:160px;
    width: 100%;
}
#logo{
    width:70px;
    height:70px;
    border:2px solid rgb(221, 245, 245);
    background-color: rgb(132, 111, 165);
    border-radius:50%;
  
}
h1{
    background-color: rgb(146, 106, 170);
    padding:10px;
    font-size: 35px;
}
main{display: flex;
    flex-direction: column;
   
    margin-top:20px; 
    padding:10px;
    font-size: 20px;
   
}
.nav{order: 0;
    display:flex;
    flex-direction: column;
    font-size: 25px;
}
ol, form, #forms, #links{
    order:0;
}
a:visited{
    color:rgb(116, 43, 116);
}
a:link{
    color:rgb(144, 104, 238);
}
h2{
    margin: 30px auto 20px 0px;
}
#table{
    order:1;
}
table{
    order:2;
    text-align: center;
    border:2px solid black;
}
tr:nth-child(2n) { 
    background-color: rgb(214, 117, 190);
}
tr:nth-child(2n+1) { 
    background-color: rgb(180, 128, 223);
}
td{
    width:25px;
    height:15px ;
}
footer{
    background-color: rgba(45, 27, 58, 0.5);
    height:100px;
}
}

@media screen and (min-width: 768px){
    
main{
    max-width:960px;
    margin:0 auto;
}
.header{
    max-width:960px;
    margin:0 auto;
}

#logo{
    width:150px;
    height:150px;
   
}

.nav{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    max-width: 960px;
    font-size: 25px;
}
.nav p{
padding-right:20px;
padding-inline-start: 0px;
}
#table{
    order:0;
}
table{
    order:0;
}

footer p{
    padding: 30px;
}
}